{% extends 'base.html' %}

{% block jumbotron %}
<div class="jumbotron masthead">
  <div class="container">
    <div class='row'>
      <div class='span8 pull-left'>
    
    <h1>MVP Landing</h1>
    <p>Create your first landing page with Django</p>
    <p>
      <a href="#sign_up" class="btn btn-inverse" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Download', 'Download 2.3.2']);">Sign Up</a>
    </p>
    </div>
    <div class='span4 pull-right'>
      <iframe width="560" height="315" src="//www.youtube.com/embed/2uLYO1LUf6Q" frameborder="0" allowfullscreen></iframe>
    </div>
    </div>
  </div>
</div>
{% endblock %}


{% block content %}

<h1>Join Us</h1>
<a name='sign_up'></a>
<form action='' method='POST'> {% csrf_token%}
{{ abc.as_p }}
<input type='submit' value='join'/>
</form>

{%  endblock %}